/* 
LOGO COLOR

Hex Value: #69C9D0;
Hex Value: #EE1D52; 
BGcolor: 
animationcolor: #33beb0;*/

* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: "Fira Sans", sans-serif;
    color: #d8d4cf;
}

body {
    background-color: #201f1f !important;
}

section {
    padding-left: 128px;
}

.bgfont {
    font-family: "Style Script", cursive;
    font-size: 20px;
    color: gray;
    font-style: italic;
}

.section-heading {
    font-size: 80px;
    font-weight: 700;
    color: #38f2ff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.hover-zoom {
    transition: transform 0.3s;
}

.hover-zoom:hover {
    transform: scale(1.2);
}

.text-zoom {
    transition: all ease-in-out 0.2s;
}

.text-zoom:hover {
    font-size: 30px;
}
